<style>
  body{
   background:url("http://motoki-y.sakura.ne.jp/kabegami/252/a.gif") rgba(249, 250, 252, 0.8);

  }

h1{
text-align: center;
font-size: 90px;
color: blue;
font-family:'Fredoka One', cursive;
}
</style>

<%= render 'dogs/nav' %>
<h1>Bienvenido a Facedog</h1>

<div class="container">
        <div class="card-deck col-12">
            <%@dogs.each do |dog|%>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="dog.dogs_url" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title"><h5>Dog</h5>
                            <p class="card-text"> <h5>Name:<%= dog.name%></h5></p>
                                <p class="card-text"> <h5>Email:<%= dog.email%></h5></p>

                        </div>
                </div>
            <% end %>
        </div>
    </div>
